@page
@model AutomatedWorkplaceCarService.Pages.Clients.ApplicationsModel
@{
	ViewData["Title"] = "Заявки";
}
<div class="row justify-content-center">
	<h1>Заявки</h1>
	<a class="btn btn-primary" asp-page="/Clients/CreateApplication">Создать заявку</a>
</div>