@page
@model AutomatedWorkplaceCarService.Pages.Clients.CarsModel
@{
	ViewData["Title"] = "Автомобили";
}
<div class="row justify-content-center">
	<h1>Ваши автомобили</h1>
	<a class="btn btn-primary" asp-page="/Clients/CreateCar">Добавить автомобиль</a>
</div>
